<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
   <!--  <bean id="greetingService" class="com.javatechnology.GreetingServiceImpl">
    GreetingServiceImpl greetingService =new GreetingServiceImpl();
    greetingService.setGreeting("Welcome To Spring");
    
    <property name="greeting" value="Welcome to Spring"></property>
    </bean> -->
    
    <!-- <bean id="roundTable" class="com.javatechnology.RoundTable"> 
     RoundTable roundTable=new RoundTable("RoundTable") 
    roundTable.setHolyGrail()
   
    <constructor-arg value="RoundTable"></constructor-arg>
    <property name="holyGrail" ref="grail"></property>
    </bean>
    <bean id="grail" class="com.javatechnology.HolyGrailImpl2"/> -->
    <!-- <bean id="performer" class="com.javatechnology.PerformerImpl">
    <constructor-arg value="15"></constructor-arg>
    </bean> -->
    <!-- <bean id="performer" class="com.javatechnology.PerformerImpl2">
    <constructor-arg value="20"></constructor-arg>
    <constructor-arg ref="poem"></constructor-arg>
    </bean>
    <bean id="poem" class="com.javatechnology.PoemImpl"/> -->
    
    <!-- <bean id="performer" class="com.javatechnology.InstrumentList">
    <property name="song" value="Jingle bells"></property>
    <property name="instrument" ref="instrument"></property>
    </bean>
    <bean id ="instrument" class="com.javatechnology.InstrumentImpl"/> -->
    
    <!-- <bean id="performer" class="com.javatechnology.collection.OneManband">
    <property name="instrument">
    <set>
    <ref bean="instrument"/>
    <ref bean="guitar"/>
     <ref bean="instrument"/>
    </set>    
    </property>
    </bean>
    <bean id ="instrument" class="com.javatechnology.InstrumentImpl"/>
    <bean id ="guitar" class="com.javatechnology.collection.Guitar"/> -->
    
    <bean id="performer" class="com.javatechnology.collection.OneManband">
    <property name="instrument">
    <map>
    <entry key="INSTRUMENT" value-ref="instrument"></entry>
    <entry key="GUITAR"  value-ref="guitar"></entry>
    <entry key="INSTRUMENT" value-ref="instrument"></entry>
    </map>  
    </property>
    </bean>
    <bean id ="instrument" class="com.javatechnology.InstrumentImpl"/>
    <bean id ="guitar" class="com.javatechnology.collection.Guitar"/>
    
    </beans>